<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="float-left"><a class="navbar-brand p-2" th:href="@{/menu}">wBANK</a></div>
    <div class="float-left"><a class="navbar-brand p-2" th:href="@{/profile}">Profile</a></div>
    <div class="float-right"><a class="navbar-brand float-right p-2" th:href="@{/logout}">Logout</a></div>
</nav>
<br>
<div class="container main">
    <div class="row col-md-8 offset-md-2">
        <div class="card-body">
            <div class="d-flex justify-content-center"><a th:href="@{/checkingAccount}" class="btn btn-primary m-2 p-2"  role="button"> Checking Account </a>
                <a th:href="@{/savingsAccount}" class="btn btn-primary m-2 p-2" role="button"> Savings Account </a>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a th:href="@{/deposit}" class="btn btn-primary m-2 p-2" role="button"> Deposit </a>
                <a th:href="@{/withdraw}" class="btn btn-primary m-2 p-2" role="button"> Withdraw </a>
                <a th:href="@{/betweenAccountsTransfer}" class="btn btn-primary m-2 p-2" role="button"> Own Transfer </a>
                <a th:href="@{/regularTransfer}" class="btn btn-primary m-2 p-2" role="button"> Regular Transfer </a>
            </div>

            <h3>Recent transactions</h3>
            <div class="table-responsive">
                <table id="example" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Operation Date</th>
                        <th>Transfer From</th>
                        <th>Transfer To</th>
                        <th>Title</th>
                        <th>Amount</th>
                        <th>Available Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${transactionList}">
                        <td th:text="${transaction.operationDate}">...</td>
                        <td th:text="${transaction.transferFrom}">...</td>
                        <td th:text="${transaction.transferTo}">...</td>
                        <td th:text="${transaction.title}">...</td>
                        <td th:text="${transaction.amount}">...</td>
                        <td th:text="${transaction.availableBalance}">...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>