<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="float-left"><a class="navbar-brand p-2" th:href="@{/menu}">wBANK</a></div>
    <div class="float-left"><a class="navbar-brand p-2" th:href="@{/profile}">Profile</a></div>
    <div class="float-right"><a class="navbar-brand float-right p-2" th:href="@{/logout}">Logout</a></div>
</nav>
<br>
<div class="container main">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Update your data.</h2>
                <p class="text-center"> After a successful update, you will be logged out.</p>
            </div>

            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{updateUser}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Username</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="Enter user name"
                                th:field="*{username}"
                                type="text"
                                required="required"
                        />
                        <p th:errors = "*{username}" class="text-danger"
                           th:if="${#fields.hasErrors('username')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter user email"
                                th:field="*{email}"
                                type="email"
                                required="required"
                        />
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Firstname</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Enter firstname"
                                th:field="*{firstName}"
                                type="text"
                                required="required"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Lastname</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Enter lastname"
                                th:field="*{lastName}"
                                type="text"
                                required="required"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a th:href="@{profile}" class="btn btn-primary" role="button"> Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>